body{
}
.kkk {
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:2.3em;
    line-height: 1.1;
}
h1 {
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-size:4.8em;
    text-align:center;

}
.nnn {
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
}
.ggg {
    color:aqua;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
} 

label {
    font-size:1.5em;
    color:aqua;
}
footer {
    color:white;
    font-size:1em;
}
form {
    width:60%;
    border:2px solid white;
    text-align:center;
}
a {
    color:white;
}
.btn btn-outline-info btn-lg {
    color:white;
}
#output {
    font-size:1.8em;
    border:2px solid white;
    text-shadow: 2px 2px 4px #000000;
}